<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de canciones</span>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" routerLink="/crear-producto">Agregar</button>
      </div>

      <table class="table table-success table-striped mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Artista</th>
            <th>Nombre</th>
            <th>Canción</th>
            <th>Duración</th>
            <th>Álbum</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th >1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Ella</td>
            <td>4</td>
            <td>E</td>
            <td>
              <i class="fas fa-edit fa-lg text-primary"></i>
              <i class="fas fa-trash-alt fa-lg text-primary m-lg-2"></i>
            </td>
          </tr>
          <tr>
            <th >1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Ella</td>
            <td>4</td>
            <td>E</td>
            <td>
              <i class="fas fa-edit fa-lg text-primary"></i>
              <i class="fas fa-trash-alt fa-lg text-primary m-lg-2"></i>
            </td>
          </tr>




        </tbody>
      </table>
   
    </div>
  </div>

</div>
